{% include 'layouts/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div>
                {% for post in posts %}
                    <div>
                        <a href="{{ post.get_absolute_url }}" class="text-decoration-none font-weight-bold">
                            <h3>{{ post.title }}</h3>
                        </a>
                    </div>
                    <div>
                        {% if post.content|length < 20 %}
                            {{ post.content|safe }}
                        {% else %}
                            {{ post.content|safe|truncatewords:50 }} <a href="{{ post.get_absolute_url }}">Read more....</a>
                        {% endif %}
                        <br>
                        <br>
                    <div>
                    <div>
                        <p class="font-weight-bold">Written by {{ post.author }} - {{ post.publish }}</p>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock  %}